In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)

ModuleNotFoundError: No module named 'sklearn'

In [2]:
telomere_geography = pd.read_csv('telomere_geography.csv')

,Telomere Length,Location,Age,Sex,Comorbidities,Smoking Frequency,Alcohol Frequency,Physical Activity
0,16.14,0,52,0,0,0,2,3
1,9.25,0,42,1,1,0,1,4
2,16.31,0,21,0,0,0,0,0
3,9.82,0,28,0,0,1,1,2
4,10.85,0,31,1,1,2,4,3
...,...,...,...,...,...,...,...,...
480,15.92,1,23,0,0,0,1,1
481,7.82,1,34,0,0,0,1,4
482,5.18,1,63,1,1,0,0,3
483,8.81,1,65,1,1,1,1,4
484,12.29,1,73,1,1,0,1,0